body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo-web {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo-studio {
    color:#2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-link {
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.nav-list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-list .contacts-links {
    color: #434455;
}
.contacts {
    font-style: normal;
}
.contacts-list .contacts-links:hover,
.contacts-list .contacts-links:focus {
    color: #404BBF;
}
.contacts-list a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.sec-back {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    text-decoration: none;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.sec-back {
    text-align: center;
}

.features-subtitle {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.descriptions-subtitle {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.section-team {
    background-color: #f4f4fd;
}
.team-item {
    background-color:#ffffff;
}

.low-part {
    background-color: #2E2F42;
}

.footer-par {
    color: #E7E9FC;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.low-studio {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}
:root {
    --footer-text-color: #F4F4FD;
}
.footer-par {
    color: var(--footer-text-color);
}
